body{
    background-color: beige;
    font-family: sans-serif;
}
img, figcaption{
    margin-left: 37px;
    border-radius: 25px;
}
h1{ 
    margin-left: 73px;
    font-family: serif;
}
.ingredients, .steps{
    color: brown ;
}