h1{
    background-color: green;
    color: black;
}
li{
    font-size: 22px;
}
body{
    background-color: darkkhaki;
}
img{
    border-radius: 25px;
}
.lasagna{
    color: black;
}
.stirfry{
    color: blue;
}
.sausagepasta{
    color: brown;
}
