h1{
    background-color: green;
    border: 1px solid burlywood;
    color: black;
    width: auto;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.top{
    display: flex;
}
.heading-box{
    box-sizing: border-box;
    background-color: brown;
    border: 1px dotted black;
    width: auto;
    height: 80px;
    padding: 5px;
    margin: 50px;
    border-radius: 15px;
}
.suggest-box{
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    padding: 10px;
    border: 3px solid black;
    margin: 50px 50px 50px 250px;
    text-align: center;
}
li{
    font-size: 22px;
}
.link-box{
    box-sizing: border-box;
    border: 2px dotted brown;
    width: 250px;
    margin: -200px 50px 50px 50px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

body{
    background-color: darkkhaki;
}
img{
    border-radius: 25px;
    margin: 30px 30px auto 15px;
}
.lasagna{
    color: black;
}
.stirfry{
    color: blue;
}
.sausagepasta{
    color: brown;
}
